# Sample Data

In [33]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

# Cleaning the data

In [34]:
updated_medical_data = medical_data.replace("#", "$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [35]:
num_records = 0
for letter in updated_medical_data:
  if letter ==  "$":
    num_records += 1
print("There are {} medical records in the data.".format(num_records))

There are 10 medical records in the data.

In [36]:
medical_data_split = updated_medical_data.split(";")
medical_records = []
for record in medical_data_split:
  medical_records.append(record.split(','))

In [37]:
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

# Analysis

In [38]:
for record in medical_records_clean:
  record[0] = record[0].upper()
  # print(record[0])

In [39]:
names = []
ages = []
bmis = []
insurance_costs = []
for record in medical_records_clean:
  names.append(record[0])
  ages.append(record[1])
  bmis.append(record[2])
  insurance_costs.append(record[3])

In [40]:
print("Patient names: " + str(names))
print("Patient ages: " + str(ages))
print("Patient BMI: " + str(bmis))
print("Patient Insurance Cost: " + str(insurance_costs))

Patient names: ['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
Patient ages: ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
Patient BMI: ['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
Patient Insurance Cost: ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

### Average BMI

In [41]:
total_bmi = 0
for bmi in bmis:
  total_bmi += float(bmi)
average_bmi = round((total_bmi / len(bmis)), 2)
print("Average BMI: {}".format(average_bmi))

Average BMI: 25.83

### Average Insurance Costs

In [42]:
sum_insurance_costs = 0
for cost in insurance_costs:
    cost = cost.strip("$")
    sum_insurance_costs += float(cost)
average_insurance_cost = sum_insurance_costs / len(insurance_costs)
print("Average Insurance Cost: ${}".format(average_insurance_cost))

Average Insurance Cost: $8390.7

# Summary

In [43]:
for index in range(len(names)):
    print("{} is {} years old with a BMI of {} and an insurance cost of {}."\
          .format(names[index], ages[index], bmis[index], insurance_costs[index]))

MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0.
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0.
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0.
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0.
ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0.